chrome_extention/chrome_extentions_tutorial_app1/node_modules/.package-lock.json
chrome_extention/chrome_extentions_tutorial_app1/node_modules/chrome-types/_all.d.ts
chrome_extention/chrome_extentions_tutorial_app1/node_modules/chrome-types/index.d.ts
chrome_extention/chrome_extentions_tutorial_app1/node_modules/chrome-types/LICENSE
chrome_extention/chrome_extentions_tutorial_app1/node_modules/chrome-types/package.json
chrome_extention/chrome_extentions_tutorial_app1/node_modules/chrome-types/README.md
chrome_extention/crome_extentions_angular_app1/output/src/3rdpartylicenses.txt
chrome_extention/crome_extentions_angular_app1/output/src/browser/favicon.ico
chrome_extention/crome_extentions_angular_app1/output/src/browser/index.html
chrome_extention/crome_extentions_angular_app1/output/src/browser/main-PPPFBRIR.js
chrome_extention/crome_extentions_angular_app1/output/src/browser/polyfills-SCHOHYNV.js
chrome_extention/crome_extentions_angular_app1/output/src/browser/styles-5INURTSO.css

.DS_Store